$indigo: #232b6a;
$space-cadet: #1c2355;

.signup {
  color: $indigo;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.signup-header {
  color: $indigo;
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 64px;

  &__login {
    cursor: pointer;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    margin: 0 auto 0 auto;
    position: relative;
    padding: 0;
  }
}

.signup-form {
  margin: 0 auto;
  padding: 64px 0px 96px 0px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: center;
    width: 250px;
    padding: 0;
    margin: 0;
  }

  &__h1 {
    font-size: 64px;

    @media (max-width: 768px) {
      font-size: 42px;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
    width: 472px;
    height: 48px;
    border: 2px solid $indigo;

    &::-webkit-input-placeholder {
      color: $indigo;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      width: 200px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 48px;
    background-color: $indigo;
    border: 1px solid $indigo;
    color: white;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: $space-cadet;
    }

    @media (max-width: 768px) {
      width: 200px;
    }
  }
}
