$indigo: #232b6a;

.signup {
  color: $indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-header {
  color: $indigo;
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 64px;

  &__login {
    cursor: pointer;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    margin: 0 auto 0 auto;
    position: relative;
    padding: 0;
  }
}

.signup-form {
  width: 480px;
  height: 100vh;
  margin: 0 auto 0 auto;
  padding: 64px 0px 96px 0px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
    padding: 0 8px;
    font-weight: 600;
    width: 480px;
    height: 48px;
    border: 2px solid $indigo;

    &::-webkit-input-placeholder {
      color: $indigo;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      width: 200px;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    width: 250px;
    padding: 0;
    margin: 0;
  }
}

.signup-h1 {
  font-size: 64px;

  @media (max-width: 768px) {
    font-size: 42px;
  }
}
